<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TradeMe TestSuite" parallel="classes" thread-count="1">
    <listeners>
        <listener class-name="nz.co.trademe.utils.TestListener"/>
    </listeners>
    <test name="Trademe Test">
        <classes>
            <class name="nz.co.trademe.LandingPageTest"></class>
            <class name="nz.co.trademe.CarSearchTest"></class>
            <class name="nz.co.trademe.JobSearchTest"></class>
        </classes>
    </test>
</suite>